*{
    margin: 0;
    padding: 0;
}

.shop{
    border: 2px solid;
    width: 250px;
    border-radius: 8px;
    /* height: 500px; */
    margin: 20px;
    position: relative;
    
}
.shop:hover{
    box-shadow: 10px 5px 10px 5px grey;
     transition: 2s;
}
span{
    position: absolute;
    border-radius: 7px;
    background-color: orangered;
    color: white;
}

/* header design */
.main-img{
    /* border: 2px solid; */
    height: 250px;
    overflow: hidden;
    /* border-color: brown; */
    
}

.main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:20px 20px 0 0 ;
    cursor: pointer;
    transition: 2s;
}


/* footer design */
.fa-star{
    font-size: 20px;
    color: gold;
    cursor: pointer;
}

.footer{
    text-align: center;
    padding: 10px 5px;
    overflow: auto;

}

.footer>p{
    font-size: 18px;
    font-weight: 900;
}

.footer>button{
    background: gold;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.footer>button:nth-of-type(1){
    float: right;
}

.footer>button:nth-of-type(2){
    float: left;
}


