* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    
}

nav {
    align-self: center;
}

nav ul {
    width: 600px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;

}

.cart-count {
    /* border: 2px solid; */
    position: relative;
    /* width: 50px; */
    /* height: 40px; */
}

.cart-count span {
    background: #17173ada;
    color: white;
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -10px;
    font-size: 12px;
    font-weight: 800;
}

nav ul li a {
    font-family: 900;
    font-size: 19px;
    text-decoration: none;
    color: #000;
}

header .logo {
    /* border: 2px solid; */
    width: 250px;
    height: 70px;

}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* end header */

.register-form {
    /* border: 2px solid red; */
    height: 100vh;
    display: grid;
    place-items: center;
}

.register-form .register-card {
    /* border: 2px solid blue; */
    width: 500px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    background: rgb(250, 125, 114);
    box-shadow: 2px 4px 14px 7px rgb(250, 125, 114);

}

.error {
    color: #850a0a;
}

.register-card h1 {
    text-align: center;
}

.register-card .form-control {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.register-card .form-control label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 7px;
}

.register-card .form-control input {
    font-size: 17px;
    padding: 10px 5px;
    border-radius: 10px;
}

.register-card .form-control button {
    padding: 15px;
    background: rgb(250, 125, 114);
    border-color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}