@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Gochi+Hand&family=Kranky&family=MedievalSharp&family=Rubik+Glitch+Pop&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Shadows+Into+Light&family=Tilt+Prism&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* header */
header{
    border: 2px solid red;
    height: 100vh;
    background: url(../images/slider-bg.jpg) no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    height: 14%;
    background-color: white;
}

nav .logo{
    /* border: 2px solid; */
    width: 400px;
    align-self: center;
}

nav .menubar{
    /* border: 2px solid; */
    width: 40%;
    align-self: center;
 
}

nav .icons{
    /* border: 2px solid; */
    width: 7%;
    align-self: center;
}

.menubar ul{
    display: flex;
    justify-content: space-between;

}

.menubar ul li{
    list-style: none;
}

.home{
    color: red;
    text-decoration: none;
    text-transform: uppercase;   
}

.menubar ul li .a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;   
    
}

.menubar ul li a:hover{
    color: rgb(231, 92, 76);
}

.logo img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    padding: 0px 20px;
}

.icons ul{
    display: flex;
    justify-content: space-around; 
}

.icons ul li{
    list-style: none;
    font-size: 20px;
}

.icons ul li:hover{
    color:rgb(231, 92, 76) ;

}

/* content */
header .centerbox{
    /* border: 2px solid; */
    width: 45%;
    height: 60%;
    position: relative;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.centerbox h1{
    color: rgb(231, 92, 76); 
    font-family: "Mulish", sans-serif;
    font-size: 70px;
    margin-bottom: 1.5%;
}

.centerbox h2{
    color: rgb(2, 2, 70);
    font-family: "Mulish", sans-serif;
    font-size: 65px;
    margin-bottom: 2%;
}

.centerbox p{
    margin-bottom: 6%;
}

.centerbox a{
    text-decoration: none;
    color: white;
    background-color: rgb(231, 92, 76);
    padding: 12px 35px;
}

/* middle */
.middle{
    border: 2px solid red;
    height: 95vh;
}

.middle h1{
    text-align: center;
    margin-top: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 50px;
    border-bottom: 4px solid;
    
}

.middle div{
    text-align: center;
    padding: 80px;
    justify-content: space-between;
    display: flex;
    gap: 25px;
}

.middle div{
    border: 2px solid;
    height: 250px;
    width: 380px;
    border-radius: 9px;
    background-color: #002c3e;
    color: white;
    padding: 50px 0px;
}

.box img{
    margin-bottom: 4%;
}

.box h3{
    margin-bottom: 4%;
}

.middle2 {
    border: 2px solid red;
    /* height: 80vh; */
    object-position: top right ;
    display:flex;
    position: relative;
}

.middle2 .arrivals img{
    width: 1260px;
    height: 100%;
    object-fit: cover;
}

.middle2 .content{
    position: absolute;
    right: 100px;
    top: 45%;
}

.middle2 .content h1{
    margin-bottom: 20px;
    font-size: 55px;
}

.middle2 .content p{
    margin-bottom: 40px;
    font-size: 20px;
}

.middle2 .content a{
    text-decoration: none;
    color: white;
    background-color: rgb(231, 92, 76);
    padding: 12px 35px;
    font-size: 25px;
}

/* Products */
.product h1{
    text-align: center;
    margin: 30px 0px;
}

.inside-box .box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center; 
}

.b1 .shopping-cart{
    border: 2px solid blue;
    height: 300px;
}

.inside-box .box .box1 {
    height:300px;
    padding: 10px;
    margin-right: 30px;
}

.inside-box .box .box1 img {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}
/* 
.inside-box .box .box2 {
    height:300px;
    padding: 10px;
    margin-right: 30px;
    
}

.inside-box .box .box2 img {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.inside-box .box .box3 {
    height:300px;
    padding: 10px;
    margin-right: 30px;  
}

.inside-box .box .box3 img {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
} */

.inside-box .box{
    justify-content: space-between;
}

.b1{
   border: 2px solid blue;
   position: relative;
   margin-left: 50px;
}

.b1 .caption-box{
    position:absolute;
    bottom: 0;
    right: 40%;
}

/* .b2{
   
   position: relative;
   margin-left: -40px;
}

.b2 .caption-box{
    position:absolute;
    bottom: 0;
    right: 40%;
}


.b3{
   
   position: relative;
   margin-right: 80px;
}

.b3 .caption-box{
    position:absolute;
    bottom: 0;
    right: 30%;
} */




